html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 4em;
}

a.link {
  text-decoration: none;
}
a.link:hover {
  text-decoration: underline;
}
.final-path {
  font-weight: 500;
}